window#waybar{
  background-color: transparent;
  font-family: Jetbrains mono, sans-serif;
  font-style: italic;
}

#workspaces{
  margin: 4px;
  background-color: #ab89a7;
  border-radius: 12px;
}

#workspaces button.active{
  border-bottom: 2px solid white;
}

#workspaces button{
  color: #e3e6e4;
}

#workspaces button.empty{
  color: #333333;
}
#workspaces button.empty.active{
  border-bottom: 2px solid #333333;
}

#workspaces button.urgent{
  color: #CF4551;
}
#workspaces button.urgent.active{
  border-bottom: 2px solid #CF4551;
}

#custom-power{
  color: #f05d6a;
  font-size: 14px;
  padding: 0px 8px;
  margin: 4px 0;
  font-weight: bold;
}

#custom-reboot{
  color: #e6b740;
  font-size: 14px;
  padding: 0px 8px;
  margin: 4px 0;
  font-weight: bold;
}

#custom-quit{
  font-size: 14px;
  padding: 0px 8px;
  margin: 4px 0px;
  font-weight: bold;
}

.modules-right{
  background-color:#ab89a7 ;
  border-radius: 12px;
  padding: 0px 14px;
  margin: 4px 4px;
}

.modules-center{
  margin: 4px ;
}

#window {
    background-color:#ab89a7 ;
    padding: 0 24px;
    border-radius: 12px;
}

window#waybar.empty #window{
  background-color: transparent;
  color:#8B7088 ;
}

#network{
  margin: 0px 8px;
}

#battery{
  margin: 0px 8px;
}

#memory{
  margin: 0px 8px;
}

#cpu{
  margin: 0px 8px;
}

#clock{
  margin: 0px 8px;
}
